@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');
@import '../../stlye/variables.scss';

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg_color_dark;
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  width: 100%;
  height: 250px;
}

header .title-text {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: $color_white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 70px;
  margin: 80px auto 30px auto;
}

header .sub-text {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: $color_white;
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0 auto;
}
