@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #373c3f;
  background-image: url(../../assets/background.jpg);
  background-size: cover;
  width: 100%;
  height: 300px;
}

header .title-text {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: white;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 70px;
  margin: 80px auto 30px auto;
}

header .sub-text {
  display: block;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  color: white;
  font-size: 18px;
  letter-spacing: 5px;
  text-transform: uppercase;
  margin: 0 auto;
}

.head-line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: white;
}

.head-line p {
  display: inline-block;
  font-size: 28px;
  font-weight: 400px;
  margin-right: 40px;
}

.head-line img {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: white solid 5px;
  position: relative;
  top: -20px;
  margin-right: 24px;
}

.head-line button {
  margin-right: 20px;
  width: 100px;
}

button.sign-up {
  border: #007bff solid 1px;
  color: #007bff;
}
