* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px 24px;
  font-weight: 400px;
  line-height: 16px;
}

.post-container {
  display: flex;
  justify-content: space-between;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 640px;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 312px;
  margin-left: 24px;
}

.post {
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
}

.post h2 {
    font-weight: 700;
    font-size: 20px;
}

.control-box {
  display: flex;
  flex-direction: column;
  // background-color: #646d73;
  background-color: white;
  color: #373c3f;
  line-height: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.control-box div {
    margin: 12px;
  }

.control-box h2 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    // background-color: #00070f;
    background-color: #4aa3df;
    color: white;
    padding: 12px;
    font-weight: 700;
    font-size: 20px;
}

.vote {
  display: flex;
  width: 50px;
  flex-direction: column;
  padding: 12px;
  background-color: #eee;
  line-height: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 12px;
  background-color: white;
  line-height: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

