@import '../../stlye/variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

main {
  display: flex;
  justify-content: center;
  padding: 20px 24px;
  font-weight: 400px;
  line-height: 16px;
}

.post-container {
  display: flex;
  justify-content: space-between;
}

.left-container {
  display: flex;
  flex-direction: column;
  width: 640px;
}

.right-container {
  display: flex;
  flex-direction: column;
  width: 312px;
  margin-left: 24px;
}

.post {
  display: flex;
  border-radius: 5px;
  margin-bottom: 10px;
}

.post h2 {
    font-weight: 700;
    font-size: 20px;
}

.control-box {
  display: flex;
  flex-direction: column;
  background-color: $color_grey;
  // background-color: $color_white;
  // color: #373c3f;
  color: $color_white;
  line-height: 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.control-box div {
    margin: 12px;
  }

.control-box h2 {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border: $color_grey solid 1px;
    background-color: $bg_color_dark;
    // background-color: #00070f;
    //background-color: #4aa3df vagy #3386b6;
    color: $color_white;
    padding: 12px;
    font-weight: 700;
    font-size: 16px;
}

.vote {
  display: flex;
  width: 50px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 12px;
  background-color: #eee;
  line-height: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.vote img {
  margin: 10px 0;
}

.content {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 18px;
  background-color: $color_white;
  line-height: 20px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.sender {
  display: flex;
}

.sender .time {
  display: inline-block;
  margin: 0 5px;
}

.sender .owner {
  display: inline-block;
  margin-left: 5px;
  color: $color_blue;
}
