@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Roboto:wght@300;400;500;700&display=swap');
@import './stlye/variables.scss';

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Lato', sans-serif;
  background-color: $bg_color_dark;
  //background-color: #dae0e6;
}

.first-page {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 24px auto;
  color: $color_white;
}

.second-page h1 {
  text-align: center;
  margin: 30px auto;
  color: $color_white;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: $color_white;
}

.nav p {
  display: inline-block;
  font-size: 28px;
  font-weight: 400px;
  margin-right: 40px;
}

.nav a {
  color: $bg_color_dark;
}

.nav img {
  display: inline-block;
  width: 80px;
  height: 80px;
  border-radius: 40px;
  border: $color_white solid 5px;
  position: relative;
  top: -20px;
  margin-right: 24px;
}

.nav button {
  margin-right: 20px;
  width: 100px;
}

button.sign-up {
  border: $color_blue solid 1px;
  color: $color_blue;
  width: 120px;
}

.reg-content {
  display: flex;
  width: 100%;
  height: 1000px;
  flex-direction: column;
  padding: 24px;
  background-color: $color_white;
  line-height: 20px;
  border-radius: 5px;
}